<h1>Create yer pirate!</h1>
<form method="POST" action="/pirates">
  <p><input type="text" name="pirate[name]"></p>
  <p><input type="text" name="pirate[weight]"></p>
  <p><input type="text" name="pirate[height]"></p>
  <p><input type="text" name="pirate[ships][][name]"></p>
  <p><input type="text" name="pirate[ships][][type]"></p>
  <p><input type="text" name="pirate[ships][][booty]"></p>
  <input type="submit">
</form>
