<h1>Create yer pirate!</h1>
<form method="POST" action="/pirates">
  <p><input type="text" name="pirates[name]"></p>
  <p><input type="text" name="pirates[weight]"></p>
  <p><input type="text" name="pirates[height]"></p>
  <p><input type="text" name="pirates[ships][][name]"></p>
  <p><input type="text" name="pirates[ships][][type]"></p>
  <p><input type="text" name="pirates[ships][][booty]"></p>
  <input type="submit">
</form>
